@font-face {
    font-family: "Poppins"; /* Give your font a descriptive name */
    src: url('../media/font/Poppins-Regular.ttf'),
    url('../media/font/Poppins-Bold.ttf'),
    url('../media/font/Poppins-Medium.ttf'),
    url('../media/font/Poppins-SemiBold.ttf'), 
    url('../media/font/Poppins-ExtraBold.ttf');   
    font-weight: normal; 
    font-style: normal;  
    font-display: swap; 
  }
  @font-face {
    font-family: "Poppins"; /* Give your font a descriptive name */
    src: url('../media/font/Poppins-Bold.ttf'), 
    url('../media/font/Poppins-ExtraBold.ttf');   
    font-weight: bold; 
    font-style: normal;  
    font-display: swap; 
  }

html{
     font-size: calc(0.75em + 0.5vmin);
  }
*{
    font-family: "Poppins", sans-serif;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
}
.col-flex{
    flex-direction: column;
}
.black{
    color: rgb(36, 36, 36)!important;
}
.white{
    color: white
}
.b-rad{
    border-radius: 0.5em;
}
.mobile-show{
    display: none;
}
.hide{
    display: none;
}
.mx-auto{
    margin: 0 auto;
}
.fixed{
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.scroll-hide{
    overflow: hidden;
}
.w-20{
    max-width: 40px;
}
.p-color{
    color:rgba(141, 61, 50)!important;
}
.p-bg{
    background-color: rgba(141, 61, 50)!important;
}
.mh-80vh{
    min-height: 60vh;
}
.sticky{
    position: sticky;
    top:0;
}
.show{
    display: block !important;
}
.bold{
    font-weight: bold !important;
}
.btn-primary{
    border-color: rgba(141, 61, 50)!important;
}
.btn-outline-primary:hover{
    background-color: rgba(141, 61, 50)!important;
    color: white !important;
}
.p-outline {
    outline-color: rgba(141, 61, 50)!important;
}
.p-border{
    border-color: rgba(141, 61, 50)!important;
}
.grid{
    display: grid;
}
.custom-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* custom */
.navlink{
    margin-bottom: 0px;
    display: block;
}
.active-link, .navlink:hover{
    border-bottom: 3px solid rgba(141, 61, 50);
    color: rgba(141, 61, 50) !important;
}
.b-btm {
    border-bottom: 2px solid rgb(202, 202, 202);
}
.crousel{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.crousel > section{
    flex: 1 0 100% !important;
    scroll-snap-align: start;
}
.slidebg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-gradient{
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-1{
    background-image: url('../media/dillon-kydd-2keCPb73aQY-unsplash.jpg');   
}
.slide-2{
   background-image: url('../media/tazz-anderson-ya9POX9IxVM-unsplash.jpg');
}

.slide-3{
    background-image: url('../media/frames-for-your-heart-mR1CIDduGLc-unsplash.jpg');
}
.slide-4{
    background-image: url('../media/frederico-ferreira-s7cAPTHjcRQ-unsplash.jpg');   
}
.slide-5{
   background-image: url('../media/daniel-barnes-RKdLlTyjm5g-unsplash.jpg');
}
.slider-nav{
    z-index: 100;
    margin-top: -40px;
}
.slider-nav a {
    margin: 0 1rem;
    width: 0.7rem;
    height: 0.7rem;
    opacity: 0.4;
    border-radius: 50%;
    transition: opacity ease 250ms;
    background-color: white !important;    
}
.slider-nav a:hover, .slider-nav a:hover {
   opacity: 1;
}
.custom-list{
    list-style-position: inside;
    list-style-image: url('../media/star-svgrepo-com.svg');
}
.custom-list-2{
    list-style-position: inside;
    list-style-image: url('../media/white-star.svg');
}
.custom-list li::marker{
    font-weight: bold;
    color: rgba(141, 61, 50);
}
.custom-grey-bg{
    background-color: #6D6F70;
}
.custom-greyer-bg{
    background-color: #414042;
}
.custom-radius{
    border-radius: 8px;
    border: 2px solid #6D6F70;
}
.custom-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.sticky-slide-1{
    background-image: url('../media/AdobeStock_434746989.avif');
}
.sticky-slide-2{
    background-image: url('../media/milivoj-kuhar-Te48TPzdcU8-unsplash.jpg');
}
.sticky-slide-3{
    background-image: url('../media/aalo-lens-LqGf5UvHCZ8-unsplash.jpg');
}
.sticky-slide-4{
    background-image: url('../media/sandy-millar-u1KG_wZTnkg-unsplash.jpg');
}
.sticky-slide-5{
    background-image: url('../media/helena-lopes-PGnqT0rXWLs-unsplash\ \(3\).jpg');
}
.custom-slide-2{
    background-image: url('../media/brandon-griggs-wR11KBaB86U-unsplash.jpg');
}
.about-slide-1{
    background-image: url('../media/helena-lopes-PGnqT0rXWLs-unsplash\ \(3\).jpg');
}
.about-slide-2{
    background-image: url('../media/brandon-griggs-wR11KBaB86U-unsplash.jpg');
}
.video-bg{
    background-color: #414042;
}
.vh-60{
    height: 60vh;
}
video{
    width: 100%;
    height: 100%;
}
.space{
    min-height: 5vh;
}
.space-lg{
    min-height: 10vh;
}
.list-style-inside{
    list-style-position: inside;
}
.list-style-inside > li::marker{
    color: rgba(141, 61, 50);
}
.tiny-img-link{
    max-width: 50px;
}
.tinier-img-link{
    max-width: 20px;
}
.black-bg{
    background-color: #414042;
}
.footer-bg{
    background-color: #68696D;
}
.grey-color{
    color: rgb(214, 214, 214);
}
.bg-white{
    background-color: white;
}
@media screen and (max-width: 868px) {
    /* Styles applied when the screen is at least 768px wide */
    .mobile-show{
        display: block;
    }
    .mobile-hide{
        display: none;
    }
    .custom-grid{
        grid-template-columns: 1fr 1fr;
    }
    .mh-80vh{
        min-height: 80vh;
    }
  }

  @media screen and (max-width: 1080px) {
    /* Styles applied when the screen is at least 768px wide */
    .hide-1080{
        display: none;
    }
  }
  @media screen and (max-width: 568px) {
    /* Styles applied when the screen is at least 768px wide */
    .custom-grid{
        grid-template-columns: 1fr;
    }
  }

  /* @keyframes carousel {
    0%   {
        transform: translate(0);
    }
    20%{
        transform: translate(100%);
    }
    40%{
        transform: translate(120%);
    }
    60%{
        transform: translate(140%);
    }
    80%{
        transform: translate(160%);
    }
    100% {
        transform: translate(160%);
    }
  } */