@font-face {
    font-family: "Poppins"; /* Give your font a descriptive name */
    src: url('../media/font/Poppins-Regular.ttf'),
    url('../media/font/Poppins-Bold.ttf'),
    url('../media/font/Poppins-Medium.ttf'),
    url('../media/font/Poppins-SemiBold.ttf'), 
    url('../media/font/Poppins-ExtraBold.ttf');   
    font-weight: normal; 
    font-style: normal;  
    font-display: swap; 
  }
  @font-face {
    font-family: "Poppins"; /* Give your font a descriptive name */
    src: url('../media/font/Poppins-Bold.ttf'), 
    url('../media/font/Poppins-ExtraBold.ttf');   
    font-weight: bold; 
    font-style: normal;  
    font-display: swap; 
  }
  @font-face {
    font-family: "New York"; /* Give your font a descriptive name */
    src: url('../media/font/NewYork\ PERSONAL\ USE.otf');   
    font-weight: bold; 
    font-style: normal;  
    font-display: swap; 
  }
  @font-face {
    font-family: "Century Gothic"; /* Give your font a descriptive name */
    src: url('../media/font/centurygothic.ttf'), url('../media/font/centurygothic_bold.ttf') ;   
    font-style: normal;  
    font-display: swap; 
  }
h1,h2,h3,h4,h5,h6{
    font-family: "New York", sans-serif !important;
}

html{
     font-size: calc(0.75em + 0.5vmin);
  }
*{
    font-family: "Century Gothic", sans-serif;
}
img{
    width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
}
.col-flex{
    flex-direction: column;
}
.black{
    color: rgb(36, 36, 36)!important;
}
.white{
    color: white
}
.b-rad{
    border-radius: 0.5em;
}
.mobile-show{
    display: none;
}
.hide{
    display: none;
}
.mx-auto{
    margin: 0 auto;
}
.fixed{
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.scroll-hide{
    overflow: hidden;
}
.w-20{
    max-width: 40px;
}
.p-color{
    color:rgba(141, 61, 50)!important;
}
.p-bg{
    background-color: rgba(141, 61, 50)!important;
}
.mh-80vh{
    min-height: 60vh;
}
.sticky{
    position: sticky;
    top:0;
}
.show{
    display: block !important;
}
.bold{
    font-weight: bold !important;
}
.btn-primary{
    border-color: rgba(141, 61, 50)!important;
}
.btn-outline-primary:hover{
    background-color: rgba(141, 61, 50)!important;
    color: white !important;
}
.p-outline {
    outline-color: rgba(141, 61, 50)!important;
}
.p-border{
    border-color: rgba(141, 61, 50)!important;
}
.grid{
    display: grid;
}
.custom-grid{
    grid-template-columns: 1fr 1fr 1fr;
}
/* custom */
.navlink{
    margin-bottom: 0px;
    display: block;
}
.active-link, .navlink:hover{
    border-bottom: 3px solid rgba(141, 61, 50);
    color: rgba(141, 61, 50) !important;
}
.b-btm {
    border-bottom: 2px solid rgb(202, 202, 202);
}
.crousel{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.crousel > section{
    flex: 1 0 100% !important;
    scroll-snap-align: start;
}
.slidebg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mw-80{
    max-width: 100% !important;
    height: 100vh !important;
}
.hero-gradient{
    background-color: rgba(0, 0, 0, 0.5);
}
.darker-gradient{
    background-color: rgba(0, 0, 0, 0.8);
}
.slide-1{
    background-image: url('../media/dillon-kydd-2keCPb73aQY-unsplash.jpg');   
}
.slide-2{
   background-image: url('../media/IMG-20251205-WA0001.jpg');
}

.slide-3{
    background-image: url('../media/frames-for-your-heart-mR1CIDduGLc-unsplash.jpg');
}
.slide-4{
    background-image: url('../media/frederico-ferreira-s7cAPTHjcRQ-unsplash.jpg');   
}
.slide-5{
   background-image: url('../media/daniel-barnes-RKdLlTyjm5g-unsplash.jpg');
}
.slide-6{
    background-image: url('../media/tazz-anderson-ya9POX9IxVM-unsplash.jpg');
 }
.slider-nav{
    z-index: 100;
    margin-top: -40px;
}
.slider-nav a {
    margin: 0 1rem;
    width: 0.7rem;
    height: 0.7rem;
    opacity: 0.4;
    border-radius: 50%;
    transition: opacity ease 250ms;
    background-color: white !important;    
}
.slider-nav a:hover, .slider-nav a:hover {
   opacity: 1;
}
.custom-list{
    list-style-position: inside;
    list-style-image: url('../media/star-svgrepo-com.svg');
}
.custom-list-2{
    list-style-position: inside;
    list-style-image: url('../media/white-star.svg');
}
.custom-list li::marker{
    font-weight: bold;
    color: rgba(141, 61, 50);
}
.custom-grey-bg{
    background-color: #6D6F70;
}
.custom-greyer-bg{
    background-color: #414042;
}
.custom-radius{
    border-radius: 8px;
    border: 2px solid #6D6F70;
}
.custom-shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.sticky-slide-1{
    background-image: url('../media/AdobeStock_434746989.avif');
}
.sticky-slide-2{
    background-image: url('../media/lotus-design-n-print-g51F6-WYzyU-unsplash.jpg');
}
.sticky-slide-3{
    background-image: url('../media/tile-merchant-ireland-ujfcn8vQpUY-unsplash\ \(1\).jpg');
}
.sticky-slide-4{
    background-image: url('../media/sandy-millar-u1KG_wZTnkg-unsplash.jpg');
}
.sticky-slide-5{
    background-image: url('../media/helena-lopes-PGnqT0rXWLs-unsplash\ \(3\).jpg');
}
.custom-slide-2{
    background-image: url('../media/brandon-griggs-wR11KBaB86U-unsplash.jpg');
}
.about-slide-1{
    background-image: url('../media/helena-lopes-PGnqT0rXWLs-unsplash\ \(3\).jpg');
}
.about-slide-2{
    background-image: url('../media/brandon-griggs-wR11KBaB86U-unsplash.jpg');
}
.video-bg{
    background-color: #414042;
}
.vh-60{
    height: 60vh;
}
video{
    width: 100%;
    height: 100%;
}
.space{
    min-height: 5vh;
}
.space-lg{
    min-height: 10vh;
}
.list-style-inside{
    list-style-position: inside;
}
.list-style-inside > li::marker{
    color: rgba(141, 61, 50);
}
.tiny-img-link{
    max-width: 50px;
}
.tinier-img-link{
    max-width: 35px;
}
.tiniest-img-link{
    max-width: 20px;
}
.black-bg{
    background-color: #414042;
}
.footer-bg{
    background-color: #68696D;
}
.grey-color{
    color: rgb(214, 214, 214);
}
.bg-white{
    background-color: white;
}
.grid-4-col{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cp-l{
    margin-left: auto;
}
.block{
    display: block;
}
@media screen and (max-width: 868px) {
    /* Styles applied when the screen is at least 768px wide */
    .mobile-show{
        display: block;
    }
    .mobile-hide{
        display: none;
    }
    .custom-grid{
        grid-template-columns: 1fr;
    }
    .mh-80vh{
        min-height: 80vh;
    }
    .grid-4-col{
        grid-template-columns: 1fr 1fr;
    }
    .cp-l{
        padding-left: initial;
    }
  }


  @media screen and (max-width: 1080px) {
    /* Styles applied when the screen is at least 768px wide */
    .hide-1080{
        display: none;
    }
  }
  @media screen and (max-width: 568px) {
    /* Styles applied when the screen is at least 768px wide */
    .custom-grid{
        grid-template-columns: 1fr;
    }
    .grid-4-col{
        grid-template-columns: 1fr;
    }
  }

 .modal-content{
    height: 100%;
 }
 .modal, .modal-dialog, .modal-content{
    margin: 0 !important;
 }
 #chat-bot-launcher-container.chat-bot-avatar-launcher{
    bottom: 25% !important;
 }
 #chat-bot-message-container {
    bottom: 30% !important;
 }
 .comp-color{
    color: #32828d;
 }
.world-map-bg{
    background-image: url('../media/nikhilesh-boppana-j9jBsNg2pSw-unsplash.jpg');
}
.csr-slide1{
    background-image: url('../media/nico-smit-MrQs5dCGyno-unsplash.jpg');
}
.csr-slide2{
    background-image: url('../media/nico-smit-NFoerQuvzrs-unsplash.jpg');
}
.csr-slide3{
    background-image: url('../media/nikhilesh-boppana-j9jBsNg2pSw-unsplash.jpg');
}
.csr-border{
    border: 3px solid rgba(141, 61, 50);
    border-radius: 5px;
}
.collage-container {
    display: grid;
    /* Creates 4 equal-width columns */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    /* Sets a fixed height for auto-generated rows, adjust as needed */
    grid-auto-rows: 200px; 
    /* Adds spacing (gap) between grid items */
    gap: 10px; 
  }
  
  /* Ensure all images fill their grid cells */
  .collage-container img {
    width: 100%;
    height: 100%;
    /* Ensures images cover the area without distortion, cropping if necessary */
    object-fit: cover; 
  }
  
  /* Optional: create specific styles for larger collage items */
  .collage-container img.big {
    /* Spans 2 columns */
    grid-column: span 2; 
    /* Spans 2 rows */
    grid-row: span 2; 
  }
  .collage-container img.horizontal{
    grid-column: span 2; 
  }
  .collage-container img.vertical{
    grid-row: span 2; 
  }
  .collage-container {
    grid-auto-flow: dense;
  }
  